
.App{
  background: linear-gradient(#ff9090,#ac258a);
  padding: 25px;
  min-height: 100vh;
  transition: background ease 10s;
}

.App.hot{
  background: linear-gradient(#ffc56f, #b63229);
}

.App.cold{
  background: linear-gradient(#d0ecff, #2527ac);
}

p{
  font-family: 'Lato';
}

.current{
  font-family: 'Varela Round';
  font-size: xx-large;
  padding: 20px;
}
.current .location{
  font-family: 'Varela Round';
  font-size: xx-large;
  color: white;
  margin: 10px;
}

.date{
  font-family: 'Lato';
  font-size: large;
  color: white;
  margin: 10px;
}

.current-icon{
  color: white;
  opacity: 0.6;
}

.current-temp{
  font-size: 60px;
  color: white;
  margin: 25px;
  font-family: 'Varela Round';
}

.current-box{
  font-family: "Lato";
  font-size: medium;
  color: white;
  background-color: rgb(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255, 0.6);
  border-radius: 12px;
}
@media (min-width: 768px){
  .current-box{
    width: 40%;
  }
}
@media (min-width: 769px) and (max-width: 1024px){
  .current-box{
    width: 60%;
  }
}

#current-conditions{
  font-family: 'Varela Round';
  font-size: large;
  font-weight: bold;
}

.input-group{
  width: 100%;
}
@media (min-width: 768px) {
  .input-group{
    width: 50%;
  }
}

.form-control{
  font-family: 'Lato';
  color: white;
  border: none;
  background: none;
  border-bottom: 2px solid rgb(255, 255, 255, 0.6);
  padding: 25px;
  border-radius: 0px;
}

.form-control:focus{
  background-color: rgb(255, 255, 255, 0.6);
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 12px;
}

.btn{
  border: 2px solid rgb(255, 255, 255, 0.6);
  border-radius: 0px 12px 12px 0;
  color: white;
  font-family: 'Varela Round';
}

.btn:hover{
  background-color: rgb(255, 255, 255, 0.6);
  color: rgb(0, 0, 0, 0.6)
}


